# 10월 4일

##상하좌우
1. 함수로 각 자리로 가는 경우를 정의한다. 그리고 움직임
2. 반복문 내부에 하나하나 경우를 나누어 만들기

일단 2번으로 풀자 eval을 쓰기가 싫어 ㅠㅠㅠ

### 2번풀이

In [ ]:
n = int(input())

list_move = input().split()

start_x = 1
start_y = 1
for i in list_move:
  if i == 'R':
    start_y = start_y + 1
  elif i == 'L':
    start_y = start_y - 1
  elif i == 'U':
    start_x = start_x - 1
    if start_x == 0:
      start_x = start_x + 1
  elif i == 'D':
    start_x = start_x + 1
print(start_x,start_y)

5
R R R U D D
3 4

###1번 풀이

In [ ]:
def R():
  start_y = start_y + 1
def L():
  start_y = start_y - 1
def U():
  start_x = start_x - 1
  if start_x == 0:
      start_x = start_x + 1
def D():
  start_x = start_x + 1

왜 안풀리는 거지?

#10월 5일

##시각
전체 경우의 수에서 해당하지 않는 부분 뺴기

In [ ]:
n = int(input())
list_A = []
for i in range(0,60):
  k = list(str(i))
  if '3' not in k:
    list_A.append(k)
minus_case = len(list_A)
all_case = ((n+1)*60*60)
final_value = all_case-(minus_case*minus_case*(n))
print(final_value)

0
3600

#10월 6일

##왕실의 나이트

In [ ]:
n = input()

a1

In [ ]:
n = list(n)

In [ ]:
start_list = [0,0]

In [ ]:
print(n)

['a', '1']

In [ ]:
if n[0] == 'a':
  start_list[1] = start_list[1] + 1
elif n[0] == 'b':
  start_list[1] = start_list[1] + 2
elif n[0] == 'c':
  start_list[1] = start_list[1] + 3
elif n[0] == 'd':
  start_list[1] = start_list[1] + 4
if n[0] == 'e':
  start_list[1] = start_list[1] + 5
elif n[0] == 'f':
  start_list[1] = start_list[1] + 6
elif n[0] == 'g':
  start_list[1] = start_list[1] + 7
elif n[0] == 'h':
  start_list[1] = start_list[1] + 8

In [ ]:
print(start_list)

[0, 1]

In [ ]:
start_list[0] = int(n[1])

In [ ]:
print(start_list)

[1, 1]

경우를 (1,1),(8,1)뭐 이런식으로 갈 수 있는 경로가 2,3,4에 따라서 나눌려고 하니까 이거 뭐 답이 없음.. 다른 방법을 찾아야 한다.

#게임 개발

In [ ]:
m,n = list(map(input().split()))

4 4

In [ ]:
arr = []

In [ ]:
field = []

In [ ]:
k = []

In [ ]:
for i in range(n):
  arr.append(list(map(int,input().split())))
  for j in range(m):
    k.append([0])

1 1 1 1
1 0 0 1
1 1 0 1
1 1 1 1

In [ ]:
x,y,state = input().split()

1 1 0

In [ ]:
x= int(x)
y = int(y)
state = int(state)

In [ ]:
now_step = arr[x][y]

In [ ]:
now_step

0

In [ ]:
while True: